:root {
	--btn-color: #007bec;
	--btn-color-hover: #68b1f3;
	--border-radius-box: 20px;
}

/*---------------------------|Reset-css|---------------------------*/
html {
	font-size: 62.5%;
}
body {
	background-color: 	#e5dcdc;
	color: #380000;
	font-family: "Lucida Sans Unicode";
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
	position: relative;
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5;
	margin: 1.5em 0 0;
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: normal;
	line-height: 1.6154em;
	margin: .8077em 0 0 0;
}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: .875em 0 0 0;
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}
.big {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}

/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: "Lato-Light";
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/*---------------------------|Header|---------------------------*/
.topbar {
	position: sticky;
	display: flex;
	padding: 0 3em;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	width: 100%;
	z-index: 1000;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	background-color : #380000;
	font-size: 1.5em; 
	border-bottom: solid;
	border-color: #c39728;
}
	.topbar-logo {
		height: 60px;
		width: 60px;
	}
	.topbar-menu {
		display: flex;
		height: 100%;
	}
		.topbar-menu a {
			position: relative;
			display: flex;
			padding: 0 1em;
			height: 100%;
			align-items: center;
			text-decoration: none;
			color: #e5dcdc;
		}
		.topbar-menu a:after {
			content: " ";
			position: absolute;
			display: block;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
		}
		.topbar-menu a:hover:after {
			background-color: gray;
		}

/*---------------------------|Footer|---------------------------*/
.bottombar {
	display: block;
	padding: 0 3em;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;
	width: 100%;
	z-index: 1000;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	background-color : #380000;
	font-size: 1.5em;
	border-top: solid;
	border-color: #c39728;
}
	.bottombar-menu {
		display: flex;
		height: 100%;
	}
		.bottombar-menu a {
			position: relative;
			display: flex;
			padding: 0 1em;
			height: 100%;
			align-items: center;
			text-decoration: none;
			color: #e5dcdc;
		}
		.bottombar-menu a:after {
			content: " ";
			position: absolute;
			display: block;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
		}
		.bottombar-menu a:hover:after {
			background-color: gray;
		}

/*---------------------------|Main|---------------------------*/
.container-main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}
	.main{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		min-height: 100px;
	}
	.inner-box {
		display: flex;
		max-width: 1200px;
		min-height: 50vh;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.section-hero {
		margin-bottom: 0;
		margin-top: 0;
		min-height: 10em;
		width: 100%;
	}
	.section-hero-main {
		min-height: 100vh;
	}
	
.logo-index{
	width: 60%;
	height: 60%;
	margin-top: -160px;
}

.carre {
	background-color: #be8900;
	height: 100px;
	width: 100px;
	margin: auto;
	border-radius: 15%;
	transform: skewY(25deg);
}

.titreSection {
	font-size: 3.125em;
}

/*---------------------------|Grid|---------------------------*/
.grid-list {
	width: 100%;
	height: 100%;
	justify-content: center;
	text-align: center;
	text-decoration: none;
}
	.grid-cell {
		display: inline-flex;
		flex-direction: column;
		padding: 30px;
		margin: 10px;
		height: 215px;
		width: 215px;
		text-decoration: none;
		color: #380000;
		border-radius: var(--border-radius-box);
	}
		.grid-cell img {
			width: 100%;
			max-height: 100%;
			object-fit: contain;
			overflow: hidden;
			border-radius: var(--border-radius-box);
		}
		.grid-restitution span {
			display: block;
			margin-top: 20px;
			font-size: 22px;
		}

	.grid-cell1 {
		background-color: #c79b6f;
	}
	.grid-cell2 {
		background-color: #d66d4d;
	}
	.grid-cell3 {
		background-color: #d99755;
	}
	.grid-cell4 {
		background-color: #c56555;
	}
		
/*---------------------------|Form|---------------------------*/
	.container-main form {
		margin: auto;
		max-width: 50em;
		width: 100%;
		color: #380000;
	}
		.title-form {
			display: flex;
			flex-direction: column;
			margin: 2em 0;
			text-align: center;
		}
			.steps-title {
				display: flex;
			}
				.steps-title h3 {
					display: flex;
					flex-direction: column;
					margin: auto;
				}
					.steps-title span {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						margin: auto;
						width: 50px;
						height: 50px;
						border-radius: 50%;
						font-size: 20pt;
						color: #c79b6f;
						background-color: #380000;
					}
						.active-title span {
							color: #380000;
							background-color: #c79b6f;
						}
		.global-form {
			margin: 2em 0;
			padding: 2.5em;
			background-color: white;
			border-radius: var(--border-radius-box);
			background-color: #c79b6f;
		}
			.form-step {
				display: none;
				flex-direction: column;
			}
			.active-step {
				display: flex;
			}
				.form-step h4 {
					margin-top: 1em;
					margin-bottom: 0.5em;
					font-size: 18pt;
				}
					.form-step h4:first-child {
						margin-top: 0;
					}
				.form-step label {
					margin-bottom: 0.2em;
					font-size: 14pt;
				}
				.form-step input, .form-step select, .form-step textarea {
					margin-bottom: 1em;
					padding: 0.5em 1em;
					border-radius: 15px;
					border: 1px solid gray;
					font-size: 11pt;
				}
				.form-step textarea {
					resize: vertical;
				}
				.container-btn-form {
					display: flex;
					justify-content: flex-end;
				}
					.container-btn-form button, .button-form-a {
						cursor: pointer;
						margin: 0.5em;
						padding: 0 2em;
						width: 100%;
						color: #d7be69;
						background-color: #380000;
						color: white;
						border: none;
						border-radius: 50px;
						line-height: 50px;
						font-family: "Sk-Modernist-Bold", "Inter", Sans-serif;
						font-size: 16pt;
						overflow: hidden;
						text-decoration: none;
						text-align: center;
					}
					.next-button {
						max-width: 50%;
					}
						.container-btn-form button:hover, .button-form-a:hover{
							color: #380000;
							background-color: #c79b6f;
						}

/*---------------------------|Restitution par beneficiaire|---------------------------*/
#titre-beneficiaire {
	font-weight: bold;
	text-decoration: underline;
}

.restitutionDon {
	text-align: center;
}
	.restitutionDon-a {
		background-color: #e5dcdc;
		color: #380000;
		font-family: "Lucida Sans Unicode";
		font-size: 1.4em; /* equiv 14px */
		line-height: 1.5; /* adapt to your design */
		text-decoration: none;
	}
		.restitutionDon-a:hover {
			font-weight: bold;
		}

.Eye-Tree-titre1 {
	font-size: 15pt;
	font-weight: bold;
	
}

.Eye-Tree-titre2 {
	font-size: 12pt;
	padding-left: 10pt;
}

.Eye-Tree-content {
	padding-left: 20pt;
}

/*---------------------------|Restitution géographie|---------------------------*/
#map {
	border: thick double #380000;
	width: 90%;
	height: 700px;
	margin: auto;
}

.restitutionGeographique-a{
	font-family: "Lucida Sans Unicode";
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
	text-decoration: none;
}

/*---------------------------|Restitution Par Sunburst|---------------------------*/
.RestSunburst {
	text-align: center;
}

/*---------------------------|Erreur|---------------------------*/
.warning {
	text-align: center;
	color: darkred;
	text-decoration: bold;
}