:root {
    --main-color: #380000;
}

#calendar-main, #calendar-date-details{
    margin: 30px auto;
    width: 100%;
    background-color: white;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
/*---/Calendar Main/---*/
.calendarObject {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

#calendar-main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1600px;
    border-radius: 20px;
}

#calendar-header {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--main-color);
    color: white;
    fill: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
}
#calendar-title {
    margin: 0;
}
/*#calendar-header button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}
#calendar-header button svg {
    width: 100%;
    height: 100%;
}
#calendar-next-btn svg {
    transform: scale(-1,1);
}*/

#calendar-grid-months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}

.calendar-month-container {
    margin: 10px;
    padding: 5px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
}

.calendar-month-title {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-sizing: border-box;
    width: 100%;
}
.calendar-grid time {
    position: relative;
    display: flex;
    margin: 4px;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.calendar-date-null {
    cursor: inherit;
}
.calendar-date-content {
    color: white;
    border-radius: 50%;
    background-color: #a9a9a9;
}
.calendar-selected {
    background-color: var(--main-color);
    border-radius: inherit;
    color: white;
}

/*---/Calendar Details/---*/
#calendar-date-details {
    max-width: 1600px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
}
#calendar-date-details h3 {
    font-weight: bold;
}
#calendar-date-details h4 {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}
#calendar-date-details .calendar-details-text-container {
    float: left;
    margin: 10px;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
#calendar-date-details .calendar-details-text-container > div {
    display: flex;
    flex-direction: column;
}





/*---/barChart Main/---*/
.barChartObject {
    margin: 0 30px;
}

#barChart-main {
    display: flex;
    margin: 30px auto;
}
#barChart-decade-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.barChart-year-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    cursor: pointer;
}

.barChart-year-title {
    text-align: center;
    font-weight: bold;
}

.barChart-month-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1px;
    padding: 1px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.barChart-year-container:last-child .barChart-month-container {
    border-right: 1px solid var(--main-color);
}
.barChart-month {
    display: flex;
    height: 100%;
}
.barChart-month-value {
    width: 100%;
    margin-top: auto;
    background-color: #3D394A;
}

.barChart-selected::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    opacity: 0.2;
    border-radius: 10px 10px 0 0;
}

#barChart-previous-btn, #barChart-next-btn {
    cursor: pointer;
    width: 40px;
    background: none;
    border: none;
}
#barChart-previous-btn svg, #barChart-next-btn svg {
    width: 100%;
    height: 100%;
}
#barChart-previous-btn {
    margin-left: auto;
}
#barChart-next-btn {
    margin-right: auto;
}
#barChart-next-btn svg {
    transform: scale(-1,1);
}