:root {
    --main-color: #167e56;
}

#calendar-main, #calendar-date-details{
    margin: 20px auto;
    width: 100%;
    background-color: white;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
/*---/Calendar Main/---*/
#calendar-main {
    display: flex;
    flex-direction: column;
    /*height: 800px;*/
}

#calendar-header {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--main-color);
    color: white;
    fill: white;
    align-items: center;
    justify-content: space-around;
}
#calendar-title {
    margin: 0;
}
#calendar-header button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}
#calendar-header button svg {
    width: 100%;
    height: 100%;
}
#calendar-next-btn svg {
    transform: scale(-1,1);
}

#calendar-grid-months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendar-month-container {
    margin: 10px;
    border: 2px solid var(--main-color);
}

.calendar-month-title {
    width: 100%;
    font-size: 30px;
    font-family: monospace;
    color: var(--main-color);
    text-align: center;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-sizing: border-box;
    width: 100%;
}
.calendar-grid time {
    position: relative;
    display: flex;
    margin: 5px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.calendar-date-null {
    cursor: inherit;
}
.calendar-date-content {
    color: white;
    border-radius: 50%;
    background-color: #a9a9a9;
}
.calendar-selected {
    background-color: var(--main-color);
    border-radius: inherit;
    color: white;
}

/*---/Calendar Details/---*/
#calendar-date-details {
    box-sizing: border-box;
    padding: 20px;
}
#calendar-date-details h3 {
    font-weight: bold;
}
#calendar-date-details h4 {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}
#calendar-date-details > div {
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
}
#calendar-date-details > div > div {
    display: flex;
    flex-direction: column;
}